<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">{{ nama }} ({{ nim }})</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">feature</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
</div>

<div class="b-example-divider"></div>

<div class="container">
  <div class="row mx-2">
    <div class="col-12">
      <button class="btn btn success m-1">
        <i class="fa fa-whatsapp"></i>
        kirim whatsapp
      </button>
      <button class="btn btn-primary m-1">
        <i class="fa fa-plus"></i>
        record baru
      </button>
      <button class="btn btn-danger m-1">
        <i class="fa fa-trash"></i>
        hapus record
      </button>
      <button class="btn btn-warning m-1">
        <i class="fa fa-edit"></i>
        ubah record
      </button>
      <button class="btn btn-info mx-1">
        <i class="fa fa-search"></i>
        Pencarian
      </button>
      <button class="btn btn-default mx-1">
        <i class="fa fa-times"></i>
        Batal
      </button>
    </div>
    <div class="col-12">
      <input type="text" class="form-control m-1" placeholder="ketik disini"/> 
    </div>
    <div class="col-12">
      <select class="form-control m-1">
        <option value="SI/SI">TI/TI</option>
        <option value="TI/TI">SI/SI</option>
      </select>
    </div>
    <div class="container mt-3">

      <div class="dropdown w-100">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="dropdownFilter" data-bs-toggle="dropdown" aria-expanded="false">
          Pilih Filter
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownFilter">
          <li><a class="dropdown-item" href="#">Filter 1</a></li>
          <li><a class="dropdown-item" href="#">Filter 2</a></li>
          <li><a class="dropdown-item" href="#">Filter 3</a></li>
          <li><a class="dropdown-item" href="#">Filter 4</a></li>
        </ul>
      </div>
    </div>
    <div class="container mt-4">
      <!-- ini tampilan tabel terang -->
      <h3>Table Biasa</h3>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nama</th>
              <th>Usia</th>
              <th>Kota</th>
              <th>Pekerjaan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Ali</td>
              <td>25</td>
              <td>Jakarta</td>
              <td>Desainer</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Budi</td>
              <td>30</td>
              <td>Bandung</td>
              <td>Programmer</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Citra</td>
              <td>28</td>
              <td>Surabaya</td>
              <td>Manajer</td>
            </tr>
          </tbody>
        </table>
      </div>
    
   
      <h3 class="mt-5">Table Dark Mode</h3>
      <!-- ini tampilan tabel gelap -->
      <div class="table-responsive">
        <table class="table table-dark table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nama</th>
              <th>Usia</th>
              <th>Kota</th>
              <th>Pekerjaan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Ali</td>
              <td>25</td>
              <td>Jakarta</td>
              <td>Desainer</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Budi</td>
              <td>30</td>
              <td>Bandung</td>
              <td>Programmer</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Citra</td>
              <td>28</td>
              <td>Surabaya</td>
              <td>Manajer</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>